<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Glorious Login</title>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="login-container">
    <h1 style="color: green;">Billora</h1>
    <h3>Log into your account</h3>

    <form class="login-form">
      <label for="email">Enter email</label>
      <input type="email" id="email" placeholder="you@example.com" required />
      <a href="#" class="forgot">Forgot Username</a>

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" required />
      <a href="#" class="forgot">Forgot Password</a>

      <button type="submit" class="login-btn">LOG IN</button>

      <a href="#" class="guest-link">Create Guest Account</a>

      <p id="form-message"></p>
    </form>
  </div>

  
</body>
</html>